:root {
  /* --clr-primary: #090c2e; */
  --clr-primary: #0077b6;
  /* --clr-primary: #2a9b92; */
  --clr-dark: #000;
  --clr-light: #fff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ============================================================================== */

/* Preloader */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  /* animation: loader 2s infinite ease; */
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  /* animation: loader-inner 2s infinite ease-in; */
  animation: loader-inner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes loader-inner {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* ============================================================================= */

body {
  overflow-x: hidden;
  width: 100vw;
  background: url("illustrations/1.svg");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 250px;

  background-color: var(--clr-primary);

  font-family: "Alegreya", "lato", "Muli", "B612", serif;

}

/* ============================================================================= */
/* REUSABLES */
/* ============================================================================= */

/* 008cff */
/* TYPOGRAPHY */
/* ============== */
h1,
h2,
h3,
p,
a {
  /* font-family: lato; */
  /* font-family: Alegreya; */
  font-family: "Alegreya", "lato", "Muli", "B612", serif;
  /* font-family: "B612", sans-serif; */
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Muli", sans-serif; */
  font-weight: 400;
  line-height: 26px;
  color: var(--clr-light);
  color: var(--clr-dark);
}

h1 {
  font-size: 38px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

/* LINKS */
/* ========================== */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
  margin: 4px;
}

/* ============================================================================= */
/* HEADER SECTION */
/* ============================================================================= */
header h1 {
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 2px;

  /* background-color: rgb(112, 31, 204); */
  /* width: 100%; */
}

header h1,
header p {
  text-align: center;
}

header p {
  margin-top: 20px;
  /* letter-spacing: 1px; */
}

.navbar {
  background-color: #0000004b;
}

.navbar-collapse li {
  /* position: static; */
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #00000000;
}

.navbar-collapse li:hover {
  border-bottom: 2px solid #ff5b3e;
}


/* .navbar-collapse li:hover {
  background-color: #d2691e;
  border-radius: 2px;
  transition: background-color 0.7s ease;
} */

.hero {
  /* margin-top: 100px; */
  /* clip-path: polygon(100% 0, 100% 26%, 90% 59%, 77% 82%, 56% 95%, 39% 97%, 23% 83%, 9% 60%, 0 27%, 0 0); */
  /* clip-path: polygon(100% 0, 100% 50%, 87% 73%, 72% 90%, 50% 96%, 45% 96%, 23% 83%, 9% 68%, 0 50%, 0 0); */
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
  width: 100%;

  
  height: 300px;
  /* padding-bottom: 200px; */
  background-color: #fff;
 
  /* background-color: coral; */
}
.hero2{

    margin-top: -200px;

}
.hero2 h1{
  color: var(--clr-primary);
}
.hero2 p{
  margin-bottom: 20px;
}
.hero2 img{
  width: 10%;
 margin: 0 auto;
 /* background-color: var(--clr-dark); */
}
.hero-logo{
  width: 8%;
  margin: 0 auto;

}
.hero-logo img{
  width: 100%;

}

/*  */
/* ============================================================================= */
/* SEARCH SECTION */
/* ============================================================================= */



.firstcontainer {
  /* background-color: coral; */
  margin: 40px auto;
  width: 80%;
}
.search {
  
  margin-top: 80px;
  /* background-image:linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.719)), url("illustrations/undraw1.svg"); */
  /* background-size: cover; */
}
.firstcontainer p {
  text-align: center;
  margin-bottom: 20px;
}
form {
  width: 60%;
  margin: 0 auto;
}

input {
  border: none;
  border-bottom: 1px solid var(--clr-light);
  background-color: #03444400;
  font-family: "Alegreya", "lato", "Muli", "B612", serif;

  /* font-family: "Caveat", cursive; */
  color: var(--clr-light);
  width: 100%;
  text-align: center;
  background-image: url("resouces/search.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px;
  font-size: 16px;
  /* text-transform: uppercase; */
  /* letter-spacing: 1px; */
  margin: 0px auto auto auto;
}

input:focus {
  background-color: #03444400;
  outline: none;
}

input::placeholder {
  font-size: 16px;
  text-align: center;
  /* font-family: "Caveat", cursive; */
  color: var(--clr-light);
  opacity: 0.7;
  /* text-transform: capitalize; */
}

input[type="submit"] {
  display: block;
  font-family: "Alegreya", "lato", "Muli", "B612", serif;
  padding: 8px;
  width: 15%;
  background-color: #03444400;
  border: 1px solid var(--clr-light);
  border-radius: 5%;
  color: var(--clr-light);
  background: none;
  margin: 20px auto auto auto;
  text-transform: capitalize;
  transition: background-color color 1s ease;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #f86d70;
  border: currentColor;
  outline: none;
  transition: background-color color 1s ease;
}

/* ============================================================================= */
/* FOOTER SECTION */
/* ============================================================================= */
footer {
  background: rgba(0, 0, 0, 0.397);
  margin-bottom: 0;
  position: absolute;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  color: var(--clr-light);

}

#result{
  background-color: #00000046;
  color: #000;
  border-radius: 1%;
  margin-top: 20px;
  text-align: center;
  line-height: 20px;
  word-spacing: 1px;
  /* letter-spacing: 1px; */
  font-size: 16px;
  font-family: "lato", "open-sans";
  /* font-family: "Alegreya", "lato", "Muli", "B612", serif; */

}

@media all and (max-width: 928px) {
  input[type="submit"] {
    display: block;
    /* font-family: "Alegreya", "lato", "Muli", "B612", serif; */
    padding: 4px;
    width: 50%;
    background-color: #03444400;
    border: 1px solid var(--clr-light);
    border-radius: 5%;
    color: var(--clr-light);
    background: none;
    margin: 20px auto auto auto;
    transition: background-color color 1s ease;
    cursor: pointer;
  }

@media all and (max-width: 780px) {
  input[type="submit"] {
    display: block;
    font-family: "Alegreya", "lato", "Muli", "B612", serif;
    padding: 4px;
    width: 50%;
    background-color: #03444400;
    border: 1px solid var(--clr-light);
    border-radius: 5%;
    color: var(--clr-light);
    background: none;
    margin: 20px auto auto auto;
    transition: background-color color 1s ease;
    cursor: pointer;
  }
  .navbar-collapse li:hover {
    border-bottom: none;
  }

}
@media all and (max-width: 425px) {

  body {
    overflow-x: hidden;
    width: 100vw;
    background: url("illustrations/1.svg");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 250px;
  
    background-color: var(--clr-primary);
  
    font-family: "Alegreya", "lato", "Muli", "B612", serif;
  
  }
 form{
   width: 90%;
 }
  input[type="submit"] {
    display: block;
    font-family: "Alegreya", "lato", "Muli", "B612", serif;
    padding: 4px;
    width: 30%;
    background-color: #03444400;
    border: 1px solid var(--clr-light);
    border-radius: 5%;
    color: var(--clr-light);
    background: none;
    margin: 20px auto auto auto;
    /* text-transform: capitalize; */
    transition: background-color color 1s ease;
    cursor: pointer;
  }
}
.hero {
 
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 100%;
}
.hero1 {

  width: 80%;
  margin: 0 auto;
}
.hero-logo{
  width: 20%;
  margin: 0 auto;
}
.hero-img{
  width: 80%;
  display: right;

}